#react-root {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
.button {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  padding: 13px 32px;
  font-weight: 400;
  font-size: 17px;
  color: #fff !important;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  background-color: #4DB2E7;
}
.button:hover {
  color: #fff;
  text-decoration: none; 
}
.button:active {
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.29); 
}