@import './mixins.scss';

#footer-white {
  background: #5188bf;
  padding-bottom: 30px;
  -webkit-font-smoothing: antialiased;

  #clients {
    background:
    radial-gradient(#56D0B3 25%, transparent 16%) 0 0,
    radial-gradient(#56D0B3 25%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.2) 15%, transparent 50%) 0 1px,
    radial-gradient(rgba(255,255,255,.2) 15%, transparent 50%) 8px 9px;
    background-color:#56D0B3;
    background-size: 20px 20px;
    padding: 65px 0 80px;
    margin-bottom: 65px;
    text-align: center;

    h3 {
      color: #FFF;
      margin-top: 0;
      font-weight: 300;
      font-size: 35px;
      letter-spacing: .3px;
      font-weight: bold;
    }

    .cta {
      text-align: center;
      margin-top: 40px;
      
      @include animationDelay(0.6s);

      a {
        margin: 0px 20px;

        @media (max-width: 400px) {
          display: block;
        }

        &.button {
          border-radius: 5px;
          padding: 12px 36px;
          font-size: 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px, inset rgba(255, 255, 255, 0.88) 0px 1px 3px -1px, rgba(0,0,0,0.3) 0 1px 2px, #69B1F3 0 1px 30px;
          @include transition(all 0.3s linear);         

          @media (max-width: 767px) {
            font-size: 16px;
          }

          @media (max-width: 400px) {
            width: 65%;
            margin: 0 auto;
            margin-bottom: 25px;
          }
        }
      }
    }

    p {
      font-size: 16px;
      color: #f8f8f8;
      margin-top: 17px;
      font-weight: 300;
      line-height: 25px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .menu {
    @media(max-width: 767px) {
      text-align: center;
      margin-top: 40px;
    }

    h3 {
      margin-top: 0;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 14px;
      font-weight: 600;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin-top: 30px;

      li {
        display: block;
        margin-bottom: 9px;

        a {
          color: #fff;
          display: inline-block;
          font-weight: 500;
          font-size: 13px;
          @include transition(all 0.2s linear);

          &:hover {
            color: #89A1C0;
            text-decoration: none;
          }

          @media(max-width: 991px) {
            padding: 0;
          }
        }

        .hiring {
          font-weight: 700;
          letter-spacing: .3px;
          text-transform: uppercase;
          word-spacing: 1.5px;
          font-size: 11px;
          margin-left: 4px;
          padding: 3px 8px;
          border-radius: 4px;
          color: #fff;
          background: #49B7E2;

          &:hover {
            color: #fff;
            background: #0E82AF;
          }
        }
      }
    }
  }

  .newsletter {
    text-align: right;

    @media(max-width: 767px) {
      text-align: center;
      margin-top: 40px;
    }

    .signup {
      margin-bottom: 40px;

      p {
        font-size: 13px;
        color: #666;
        width: 90%;
        float: right;
        text-align: left;
        line-height: 20px;

        @media(max-width: 767px) {
          float: none;
          text-align: center;
          width: 100%;
        }
      }

      form {
        float: right;
        width: 90%;
        position: relative;

        @media(max-width: 767px) {
          float: none;
          width: 100%;
        }

        input[type="text"] {
          font-size: 13px;

          @include placeholder {
            font-size: 13px;
            line-height: 17px;
          }
        }

        input[type="submit"] {
          border: 0;
          background: #84B0E2;
          color: #FFF;
          border-radius: 3px;
          padding: 6px 10px;
          position: absolute;
          top: 5px;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.28);
          right: 5px;
          font-size: 13px;

          @include transition(all .2s linear);

          &:hover {
            background: #6284AC;
          }
        }
      }
    }

    a {
      border: 0;
      text-decoration: none;
      opacity: 1;
      filter: alpha(opacity=100);
      margin-left: 15px;
      position: relative;
      top: -10px;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      &:hover {
        opacity: 0.7;
        filter: alpha(opacity=70);
      }
    }
  }

  .credits {
    margin-top: 30px;

    .col-md-12 {
      padding-top: 20px;
      font-size: 13px;
      text-align: center;
      color: #fff;
    }
  }
}