.navbar {
  margin-bottom: 0px;
  &.normal {
    min-height: 70px;
    background: #5188BF;
    border-radius: 0px;
    border: none;
    z-index: 9999;
    -webkit-font-smoothing: antialiased;

    .navbar-header {
      .navbar-brand {
        color: #fff;
        padding: 25px 15px;
        font-weight: 500;
        font-size: 23px;
      }
      .navbar-toggle {
        margin-top: 17px;
        background: #56D0B3;
        color: #fff;
        font-weight: bold;
      }
    }
    .navbar-collapse {
      
      @media(min-width: 768px) {
        text-align: center;
      }

      .navbar-nav {

        @media(min-width: 768px) {
          float: none;
          display: inline-block;
        }

        > li {
          float: none;
          display: inline-block;

          @media(max-width: 767px) {
            display: block;
          }

          &.active {
            > a {
              border-bottom: 5px solid #56D0B3;
              @media(max-width: 767px) {
                border-bottom: none;
                color: #56D0B3;
              }
            }
          }
          > a {
            padding: 25px 20px;
            color: #fff;
            font-weight: 500;
            z-index: 1001;

            @media(max-width: 767px) {
              padding: 18px 20px;
            }

            &:hover {
              color: #56D0B3;
            }
          }
          
          &.open {
            ul.dropdown-menu {
              a {
                @media(max-width: 767px) {
                  color: #fff;
                  padding: 12px 18px 12px 30px;
                }
              }
            }
          }
          ul.dropdown-menu {
            text-align: left;
            padding: 9px 0;

            li a {
              padding: 8px 18px;
            }
          }
        }
        .button {
          padding: 8px 18px;
          font-size: 13px;
          position: relative;
          top: 17px;
          background-color: #56D0B3;
          color: #fff;

          @media(max-width: 767px) {
            box-shadow: none;
            background: none;
            top: 0;
            margin-bottom: 20px;
            color: #d5d5d5 !important;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #5188BF;
}
