@import './mixins.scss';

#home3 {
  .st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    background: #fff;

    @include transitionPrefix(transform, 0.35s ease-out);
  }
  
  .nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 320px;
    height: 100%;
    background: #5188bf;
    padding-top: 30px;
    -webkit-font-smoothing: antialiased;

    @include transitionPrefix(transform, 0.35s ease-out);
    @include transform(translate3d(50%, 0, 0));

    @media(max-width: 767px) {
      width: 220px;
      position: absolute;
    }

    h3 {
      color: #fff;
      font-size: 26px;
      margin-left: 50px;
      margin-bottom: 30px;

      @media(max-width: 767px) {
        margin-left: 30px;
        font-size: 23px;
      }
    }

    a {
      display: block;
      padding: 5px 30px 5px 50px;
      margin-bottom: 10px;
      text-decoration: none;
      color: #fff;
      font-size: 26px;
      font-weight: 300;

      @include transition(all 0.15s linear);

      @media(max-width: 767px) {
        padding-left: 30px;
        font-size: 16px;
      }

      &:hover {
        color: #82C4F8;
      }
    }

    .social {
      margin-left: 45px;
      margin-top: 50px;

      @media(max-width: 767px) {
        margin-left: 30px;
      }

      a {
        padding: 0px;
        display: inline-block;
        margin-right: 22px;
        &:hover {
          i {
            color: #7EBDE7;
          }
        }

        i {
          font-size: 22px;
          color: #fff;

          @include transition(all 0.15s linear);
        }
      }
    }
  }

  .navbar {
    background: transparent !important;

    .navbar-header {
      float: left;

      .icon-bar {
        color: white;
      }
    }

    .sidebar-toggle {
      width: 30px;
      float: right;
      margin-top: 15px;
      cursor: pointer;
      
      .line {
        background: #fff;
        width: 100%;
        height: 3px;
        margin-bottom: 6px;
        border-radius: 1px;
      }
    }
  }

  #hero {
    background: #3D4046;
    height: 630px;
    position: relative;
    overflow: hidden;
    top: -60px;
    padding-top: 115px;

    @media (max-width: 991px) {
      padding-top: 100px;
      height: 550px;
    }

    #cover-image {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url('images/weights.jpg');
      background-size: cover;
      padding-top: 150px;

      @media (max-width: 991px) {
        padding-top: 125px;
      }

      .blue-background {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #5188BF;
        opacity: 0.8;
      }
    }

    .container {
      position: relative;
      z-index: 3;
      height: 100%;
    }

    h1.hero-text {
      text-align: center;
      font-size: 64px;
      font-weight: 300;
      color: #fff;
      margin-top: 40px;
      font-weight: bold;

      @include animationDelay(0.6s);

      @media (max-width: 991px) {
        font-size: 45px;
      }

      @media (max-width: 767px) {
        font-size: 27px;
      }
    }

    p {
      color: #fff;
      text-align: center;
      font-size: 26px;
      padding-top: 10px;
      font-weight: 300;
      letter-spacing: 1px;

      @media (max-width: 991px) {
        font-size: 22px;
      }

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }

    .cta {
      text-align: center;
      margin-top: 40px;
      
      @include animationDelay(0.6s);

      a {
        margin: 0px 20px;

        @media (max-width: 400px) {
          display: block;
        }

        &.home-button {
          border-radius: 5px;
          color: #fff;
          padding: 15px 50px;
          font-size: 18px;
          background-color: #56D0B3; 
          font-weight: bold;
          @include transition(all 0.3s linear);         

          @media (max-width: 767px) {
            font-size: 16px;
          }

          @media (max-width: 400px) {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 25px;
            padding: 20px 30px;
          }

        }
        &.demo {
          color: #fff;
          -webkit-font-smoothing: antialiased;
          font-size: 17px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

          @media (max-width: 767px) {
            font-size: 16px;
          }
        }
      }
    }
    .screenshot {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      img {
        margin: 0 auto;
      }
    }
  }

  #features {
    padding: 30px 0px;
    @media(max-width: 991px) {
      margin-top: 0px;
      padding: 0px;
    }

    .header {
      text-align: center;
      h2 {
        color: #555;
        font-weight: 300;
        font-size: 28px;

        @media (max-width: 767px) {
          font-size: 25px;
        }
      }
      p {
        font-weight: 300;
        font-size: 17px;
        color: #757575;
      }
    }
    .selling-feature {
      margin-top: 55px;
      -webkit-font-smoothing: antialiased;
      max-width: 700px;
      margin: auto;
      margin-top: 50px;
      padding: 30px 0px;

      @media (min-width: 992px) {
        padding: 15px;
        &.backwards {
          .info {
            float: right;
          }
          .image {
            img {
              margin: 0 auto;

            }
          }
        }
      }

      @media (max-width: 991px) {
        margin-top: 10px;
        padding: 20px;
      }

      .info {
        h4 {
          color: #3B88B6;
          font-weight: normal;
          font-size: 19px;
          line-height: 25px;
          margin-top: 0px;

          @media (max-width: 991px) {
            text-align: center;
          }
        }
        p {
          color: #6C7279;
          font-size: 14px;
          margin-top: 20px;
          line-height: 24px;
          font-weight: normal;

          @media (max-width: 991px) {
            text-align: center;
            width: 100%;
            font-size: 14px;
          }
        }
      }
      .image {
        img {
          height: 160px;
        }
        @media (max-width: 991px) {
          img {
            margin: 0 auto !important;
            margin-top: 20px;
            float: none !important;
          }
        }
      }
    }
    .divider {
      height: 1px;
      width: 100%;
      background-color: #ddd;
      position: relative;
      margin: 70px 0 60px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250,250,250,0)), color-stop(1, rgba(255, 255, 255, 0.75)));
        background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
        background-image: linear-gradient(left, rgba(255, 255, 255, 0.75) 0%, rgba(250,250,250,0) 50%, rgba(255, 255, 255, 0.75) 100%);
      }

      @media (max-width: 991px) {
        margin: 55px 0 35px;
      }
    }
  }
  #testimonials {
    margin-top: 90px;
    -webkit-font-smoothing: antialiased;

    .header {
      text-align: center;

      h3 {
        font-size: 23px;
        color: #656565;
        line-height: 25px;
        margin-bottom: 45px;
      }
    }
    .testimonial {
      width: 90%;

      @media (max-width: 767px) {
        float: none !important;
        margin: 0 auto;
        margin-bottom: 45px;
      }

      .quote {      
        font-size: 13px;
        color: #3D3D3D;
        line-height: 24px;
        border: 1px solid #E2E2E2;
        padding: 12px 22px;
        border-radius: 6px;
        width: 90%;
        position: relative;

        @media (max-width: 767px) {
          margin: 0 auto;
        }

        .arrow-down {
          position: absolute;
          bottom: 3px;
          left: 30px;

          .arrow, .arrow-border {
            border-color: #fff transparent transparent;
            border-style: solid;
            border-width: 11px;
            cursor: pointer;
            position: absolute;
            top: 3px;
            z-index: 1002;
          }
          .arrow-border {
            border-color: #E2E2E2 transparent transparent;
            border-width: 12px;
            top: 3px;
            z-index: 1001;
            left: -1px;
          }
        }
      }
      .author {
        margin-top: 40px;
        margin-left: 10px;

        @media (max-width: 767px) {
          margin-left: 6%;
        }

        .pic {
          width: 71px;
          height: 71px;
          border-radius: 50px;
          float: left;
          position: relative;
          top: -12px;
          margin-right: 18px;
          border: 1px solid #ccc;
        }
        .name {
          color: #3C92C5;
          line-height: 23px;
          font-weight: 500;
        }
        .company {
          font-size: 14px;
          color: #909090;
          line-height: 23px;
          font-weight: 400;
        }
      }
    }
  }

  #cta {
    text-align: center;
    margin-top: 30px;

    p {
      font-size: 17px;
      color: #7A7D81;
      letter-spacing: 0.1px;
    }

    a {
      display: inline-block;
      margin-top: 25px;
      background: #5188bf;
      color: #FFF;
      padding: 23px 40px;
      font-size: 17px;
      letter-spacing: 0.7px;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: 5px;

      @include transition(all .2s linear);

      &:hover {
        text-decoration: none;
       
      }
    }
  }
}