@import '../../core/stylesheets/mixins.scss';

.dashboard {

  .welcome {
    padding-bottom: 30px;
    h3 {
      font-size: 20px;
      color: #8C5DAC;
      color: #5D93AC;
      font-weight: 600;
      text-decoration: none;
    }
    p {
      font-size: 13px;
      color: #8C939E;    }
  }
  .metrics {
    background: #5188BF;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 15px;

    .metric {
      float: left;
      width: 25%;
      padding: 23px 0;
      text-align: center;

      @media(max-width: $maxSmall) {
        width: 50%;
      }

      .field {
        color: #f4f4f4;
        margin-bottom: 9px;
        display: inline-block;
        font-size: 14px;

        @media (max-width: $maxMedium) {
          font-size: 14px;
        }
      }

      .data {
        display: block;
        color: #fff;
        font-size: 27px;

        @media (max-width: $maxMedium) {
          font-size: 21px;
        }
      }
    }
  }
}