@import '../../core/stylesheets/mixins.scss';

#header {
    margin-left: 230px;
    padding: 30px;
    position: relative;

  @media (max-width: $maxMedium) {
    margin-left: 80px;
  }

  @media (max-width: $maxSmall) {
    margin-left: 0px;
    z-index: 9999;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-top: 0px;
    min-height: 0px;
    position: relative;
    z-index: 999999999;
  }

  .menubar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #5188BF;
    color: #fff;
    z-index: 99;
    padding: 19px 52px;

    @media (max-width: $maxMedium) {
      padding: 19px 22px;
    }

    @media (max-width: $maxSmall) {
      padding-left: 23px;
    }

    .sidebar-toggler {
      float: left;
      padding: 10px;
      position: relative;
      top: -15px;
      left: -5px;
      margin-right: 10px;
      cursor: pointer;

      i {
        font-size: 37px;
      }
    }

    .page-title {
      float: left;
      position: relative;
      font-size: 17px;
      line-height: 26px;
      font-size: 19px;
      letter-spacing: 1px;
      -webkit-font-smoothing: antialiased;

      @media (max-width: $maxSmall) {
        font-size: 15px;
      }

      small {
        margin-left: 10px;
      }
    }

    .btn.pull-right {
      position: relative;
      top: -5px;
      font-weight: bold;
      letter-spacing: .3px;
    }

    .options {
      a {
        margin-left: 25px;
        color: #96AEC4;
        text-decoration: none;
        font-size: 17px;

        @include transition(all .2s linear);

        @media (max-width: $maxSmall) {
          position: relative;
          top: 4px;
        }

        &:hover {
          color: #344D63;
        }

        i {
          margin-right: 3px;

          @media (max-width: $maxSmall) {
            display: none;
          }
        }
      }
    }
  }

  .content-wrapper {
    margin-top: 20px;
  }
}

.menubar {
  .period-select {
    float: right;
    min-width: 350px;
    position: relative;
    top: -3px;

    .input-group {
      width: 150px;
      float: left;

      .input-group-addon {
        background: #F0F4F8;
      }

      i {
        font-size: 22px;
        color: #577FC7;
        position: relative;
        top: 1px;
      }

      input[type="text"] {
        height: 31px;
        line-height: 18px;
        font-size: 14px;
        color: #777;
      }
    }

    p {
      position: relative;
      top: 4px;
      margin: 0 12px;
    }
  }
}

