@import '../../core/stylesheets/mixins.scss';


.project-list {
	margin-top: 20px;
}
a.project-link:hover {
	text-decoration: none;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
	text-decoration: none;
	display: block;
}
.project {
	margin-bottom: 25px;
	padding: 13px;
	border: 1px solid #E4EAF1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	min-height: 150px;
	position: relative;
	cursor: pointer;
	
	.info {
		padding: 20px 0 30px;
		text-align: center;
		text-decoration: none;
		.name {
			font-size: 20px;
			color: #8C5DAC;
			color: #5D93AC;
			font-weight: 600;
			text-decoration: none;
		}

		.category {
			font-weight: 600;
			color: #444;
			text-decoration: none;
		}


		.last-update {
			font-size: 13px;
			color: #8C939E;
			margin-top: 7px;
		}
	}

	.members {
		position: absolute;
		bottom: 13px;
		width: 91%;

		a {
			display: block;
		}
	}
}