@import '../../core/stylesheets/mixins.scss';

.settings-wrapper {
  position: absolute;
  right: 0px;
  left: 0px;

  @media (max-width: $maxSmall) {
    position: absolute;
    top: 0px;
  }
}
.show-menu {
  @include transition(all .3s ease-out);
  left: 230px;
  position:relative;
}

.hide-menu {
  @include transition(all .3s ease-out);
  left: 0px;
  position:relative;
}