.time-chart {
    .chart-type {
        border: 1px solid #5188BF;
        color: #5188BF;
        line-height: 40px;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        transition: 1s all ease;
        margin-bottom: 20px;

        &:hover {
            background-color: #5188BF;
            color: #fff;
        }
    }
    .active {
        background-color: #5188BF;
        color: #fff;
    }
}

.top{
    margin-bottom: 10px;
    background-color: #3f5175;
    border-radius:4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.bottom-left{
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;
    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.bottom-right{
    background-color: #3f5175;
    border-radius: 4px;
    height: 400px;

    box-shadow: 1px 1px 1px 0px rgba(37,41,51,1);
}

.pad{
    padding:20px;
}

.browser-legend{
    font-size:14px;
    opacity:.8;
}

.bottom-left-svg{
    padding-top:40px;
    text-align: center;
}


.bottom-right-svg{
    text-align: center;
}

.line {
    fill: none;
    stroke: #5188BF;
    stroke-width: 2px;

}

.axis{
    fill:#bbc7d9;
    opacity: 1;
}

.dot {
    fill: #5188BF;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;

}

.axis text {
    font-size: 14px;
}

.y-grid .tick{
    stroke: #4b5f87;
    opacity: 1;
}

.default-svg{

}