

/*img{
  width:100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input {
  padding:10px;
  border:0;
}


section{
  text-align: center;
  background:rgba(0,0,0,0.3);
  padding:20px;
  margin:20px 0;
  color:white;
  font-weight: 100;
}*/


.wistia_responsive_padding{
  padding:56.25% 0 0 0;
  position:relative;
}

.wistia_responsive_wrapper{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

.wistia_embed 
.wistia_async_4swzw9d6yo{
  height: 100%;
  width: 100%;
}
