.jumbotron{
    width:75%;
}
.cards{
background: #fab131;
}
.auto{
    z-index: 1000;
}
.pageTitle{
font-size: 40px;
font-family: CaslonGraD, sans-serif;

}
.dialogue{
font-size: 25px;
font-family: FuturaBT-Book, sans-serif;

}
.inputs{
font-size: 14px;
font-family: FuturaBT-Book, sans-serif;

}
.url{
width:66.66666666%;

}

.center {
    text-align: center;
}

.fifty{

    width:25%;
}
.centerME{
   float: none;
    margin: 0 auto;
    margin-top: 1%;


}
.center-block {

}
.send{
    padding-left: 0;
    padding-right: 0;

}
.foc:focus{
    outline:0;
    border-width: 2px;
    border-color: #a3a6a7;

}

.btn:focus{
    outline:0;
    background: white;
}


@font-face {
    font-family: FuturaBT-Book;
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot);
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.eot#iefix) format("embedded-opentype"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff2) format("woff2"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.woff) format("woff"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Book.ttf) format("truetype")
}

@font-face {
    font-family: FuturaBT-Heavy;
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot);
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.eot#iefix) format("embedded-opentype"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff2) format("woff2"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.woff) format("woff"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/FuturaBT-Heavy.ttf) format("truetype")
}

@font-face {
    font-family: CaslonGraD;
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/CaslonGraD.eot);
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/CaslonGraD.eot#iefix) format("embedded-opentype"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/CaslonGraD.woff2) format("woff2"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/CaslonGraD.woff) format("woff"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/CaslonGraD.ttf) format("truetype")
}

@font-face {
    font-family: SSSocialCircle;
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot);
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.eot#iefix) format("embedded-opentype"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.woff) format("woff"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/SSSocialCircle.ttf) format("truetype")
}

@font-face {
    font-family: icomoon;
    src: url(https://wealthsimple-ui.s3.amazonaws.com/fonts/icomoon.eot);
    src: url(https://wealthsimple-ui.s3.amazonaws.com/fonts/icomoon.eot#iefix) format("embedded-opentype"), url(https://wealthsimple-ui.s3.amazonaws.com/fonts/icomoon.woff) format("woff"), url(https://wealthsimple-ui.s3.amazonaws.com/fonts/icomoon.ttf) format("truetype")
}

@font-face {
    font-family: Akkurat-Regular;
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot);
    src: url(https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.eot#iefix) format("embedded-opentype"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff2) format("woff2"), url(https://d1p4wrw087wab3.cloudfront.net/fonts/Akkurat-Regular.woff) format("woff")
}